.Container .Title{
    color: #fff;
    text-align: center;
}

.Title .QueryText{
    color:#c40202;
}

.MoviesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.MoviesContainer div{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
}


.StarFavorite{
    display: flex;
    justify-content: space-between;
}

#Star{
    color:#f7d354 ;
    display: inline;
}

.Favorite {
    color: #c40202;
    display: inline;
}

.Favorite:hover {
    color: #c40202ab;
    display: inline;
    cursor: pointer;
}

.MoviesContainer div a{
    background-color: #c40202;
    border:  2px solid #c40202;
    color: #000;
    align-items: center;
    transition: .4s;
    text-align: center;
    font-weight: bold;
}

.MoviesContainer div a:hover{
    background-color: transparent;
    color: #c40202 ;
}


@media (min-width: 1028px){
    .Container .Title{
        font-size: 2.8vw;
        margin: 4vh 0 3vh; /*2cima, 0lados, 1baixo*/
    }
    
    .MoviesContainer{
        padding: 2vw;
        max-width: 100vw;
    }
    
    .MoviesContainer div{
        width: 26vw;
        margin-bottom:3vw ;
        padding: 1vw;
    }
    
    .MoviesContainer div img{
        margin: 0.8vw auto;
    }
    
    .MoviesContainer div img,
    .MoviesContainer div h2,
    .MoviesContainer div p{
        margin-bottom: .6vw;
    }
    
    .Favorite {
        font-size: 1.8vw;
    }

    .MoviesContainer div a{
        padding: 1vw .5vw;;
    }
    
}

@media (min-width: 500px) and (max-width:1028px){
    .Container .Title{
        font-size: 2.8vw;
        margin: 6vh 0 3vh; /*2cima, 0lados, 1baixo*/
    }
    
    .MoviesContainer{
        padding: 2vw;
        max-width: 100vw;
    }
    
    .MoviesContainer div{
        width: 26vw;
        margin-bottom:3vw ;
        padding: 1vw;
    }
    
    .MoviesContainer div img{
        margin: 0.8vw auto;
    }
    
    .MoviesContainer div img,
    .MoviesContainer div h2,
    .MoviesContainer div p{
        margin-bottom: .6vw;
    }

    .MoviesContainer div a{
        padding: 1vw .5vw;;
    }
}

@media (max-width: 500px){
    .Container .Title{
        font-size: 4.5vw;
        margin: 2.5vh 0 3vh;
    }
    
    .MoviesContainer{
        padding: 2vw;
        max-width: 100vw;
    }
    
    .MoviesContainer div{
        width: 40vw;
        margin-bottom:3vw ;
        padding: 1vw;
    }
    
    .MoviesContainer div img{
        margin: 1vw auto;
        width: 80%;
    }
    
    .MoviesContainer div img,
    .MoviesContainer div h2,
    .MoviesContainer div p{
        margin-bottom: 1vw;
    }
    .MoviesContainer div h2{
        font-size: 3.5vw;
    }
    .MoviesContainer div p{
        font-size: 3.5vw;
    }
    .MoviesContainer div svg{
        font-size: 4vw;
    }
    .MoviesContainer div a{
        padding: 1vw .5vw;;
        font-size: 3vw;
    }
}
